<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServletDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>firstName</param-name>
		<param-value>Harshini</param-value>
	</context-param>
	<context-param>
		<param-name>lastName</param-name>
		<param-value>Senthurnathan</param-value>
	</context-param>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>com.servlet.practice.Welcome</servlet-class>
		<init-param>
			<param-name>firstName</param-name>
			<param-value>Eshwar</param-value>
		</init-param>
		<init-param>
			<param-name>lastName</param-name>
			<param-value>Senthurnathan</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/views/login.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>com.servlet.practice.LoginPage</servlet-class>
		<init-param>
			<param-name>firstName</param-name>
			<param-value>Brindha</param-value>
		</init-param>
		<init-param>
			<param-name>lastName</param-name>
			<param-value>Damodaran</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.servlet.practice.FirstServlet</servlet-class>
		<init-param>
			<param-name>intiParam1</param-name>
			<param-value>Sarala</param-value>
		</init-param>
		<init-param>
			<param-name>initParam2</param-name>
			<param-value>Senthur</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FirstLogin</servlet-name>
		<jsp-file>/views/FirstLogin.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/loginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstLogin</servlet-name>
		<url-pattern>/firstlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/firstservlet</url-pattern>
	</servlet-mapping>
</web-app>