<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>/views/login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.deptcrudservlethibernate.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.deptcrudservlethibernate.HomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateDepartment</servlet-name>
    <servlet-class>com.deptcrudservlethibernate.CreateDepartment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreatedDetails</servlet-name>
    <servlet-class>com.deptcrudservlethibernate.CreatedDetails</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>UpdateDepartment</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.UpdateDepartment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDepartment</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.DeleteDepartment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindDepartment</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.FindDepartment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeptDetails</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.DeptDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreatedDetails</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.CreatedDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatedDetails</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.UpdatedDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateSuccess</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.UpdateSuccess</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletedDetails</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.DeletedDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteSuccess</servlet-name>
		<servlet-class>com.deptcrudservlethibernate.DeleteSuccess</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>LoginFail</servlet-name>
    <jsp-file>/views/loginFail.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateDepartment</servlet-name>
    <url-pattern>/createDepartment</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
		<servlet-name>UpdateDepartment</servlet-name>
		<url-pattern>/updateDepartment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDepartment</servlet-name>
		<url-pattern>/deleteDepartment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindDepartment</servlet-name>
		<url-pattern>/findDepartment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeptDetails</servlet-name>
		<url-pattern>/deptDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatedDetails</servlet-name>
		<url-pattern>/createdDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatedDetails</servlet-name>
		<url-pattern>/updatedDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSuccess</servlet-name>
		<url-pattern>/updateSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletedDetails</servlet-name>
		<url-pattern>/deletedDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSuccess</servlet-name>
		<url-pattern>/deleteSuccess</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginFail</servlet-name>
    <url-pattern>/loginFail</url-pattern>
  </servlet-mapping>
</web-app>