<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Detail</title>
<link rel="stylesheet" type="text/css" href="css/mytheme.css">
</head>
<script type='text/javascript' src='js/employeedetail.js'></script>
<body>
<form id='empForm' name='empForm' method='get' action='/ServletHibernateProject/getEmpDetail'>
Emp Id : <input type='text' name='empId' id='empId'></input>
<input type='submit' class='button button2' value='Search Employee'/>
<input type='button' onclick='createEmployee()' class='button button2' value='Create Employee'/>
</form>
</body>
</html>