<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>/views/login.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.locationCrud.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>com.locationCrud.HomePage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateLocation</servlet-name>
		<servlet-class>com.locationCrud.CreateLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateLocation</servlet-name>
		<servlet-class>com.locationCrud.UpdateLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteLocation</servlet-name>
		<servlet-class>com.locationCrud.DeleteLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindLocation</servlet-name>
		<servlet-class>com.locationCrud.FindLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreatedLocPage</servlet-name>
		<servlet-class>com.locationCrud.CreatedLocPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchedLocPage</servlet-name>
		<servlet-class>com.locationCrud.SearchedLocPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatingLocation</servlet-name>
		<servlet-class>com.locationCrud.UpdatingLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatedLocationPage</servlet-name>
		<servlet-class>com.locationCrud.UpdatedLocationPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletingLocation</servlet-name>
		<servlet-class>com.locationCrud.DeletingLocation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletedLocationPage</servlet-name>
		<servlet-class>com.locationCrud.DeletedLocationPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.locationCrud.LogoutServlet</servlet-class>
	</servlet>
	

	<servlet>
		<servlet-name>LoginFail</servlet-name>
		<jsp-file>/views/loginFail.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateLocation</servlet-name>
		<url-pattern>/createLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLocation</servlet-name>
		<url-pattern>/updateLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteLocation</servlet-name>
		<url-pattern>/deleteLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindLocation</servlet-name>
		<url-pattern>/findLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatedLocPage</servlet-name>
		<url-pattern>/createdLocPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchedLocPage</servlet-name>
		<url-pattern>/searchedLocPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatingLocation</servlet-name>
		<url-pattern>/updatingLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatedLocationPage</servlet-name>
		<url-pattern>/updatedLocationPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletingLocation</servlet-name>
		<url-pattern>/deletingLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletedLocationPage</servlet-name>
		<url-pattern>/deletedLocationPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginFail</servlet-name>
		<url-pattern>/loginFail</url-pattern>
	</servlet-mapping>
	
</web-app>