<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServletDemo</display-name>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>firstName</param-name>
		<param-value>Muthukumaran</param-value>
	</context-param>
	<context-param>
		<param-name>lastName</param-name>
		<param-value>Natarajan</param-value>
	</context-param>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.servlet.lesson.HelloWorld</servlet-class>
		<init-param>
			<param-name>firstName</param-name>
			<param-value>Brindha</param-value>
		</init-param>
		<init-param>
			<param-name>lastName</param-name>
			<param-value>Damodaran</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>GoodBye</servlet-name>
		<servlet-class>com.servlet.lesson.GoodBye</servlet-class>
		<init-param>
			<param-name>firstName</param-name>
			<param-value>Aadvik</param-value>
		</init-param>
		<init-param>
			<param-name>lastName</param-name>
			<param-value>Muthukumaran</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/views/login.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.lesson.LoginServlet</servlet-class>
		<init-param>
			<param-name>initParam1</param-name>
			<param-value>Aadvik</param-value>
		</init-param>
		<init-param>
			<param-name>initParam2</param-name>
			<param-value>Muthukumaran</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodBye</servlet-name>
		<url-pattern>/goodbye</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
</web-app>