<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="css/mytheme.css">
</head>
<script type='text/javascript' src='js/login.js'></script>
<body>
<form id='loginForm' name='loginForm'>
<img src='img/emp_banner1.gif' style='width:800px;height:150px;'>
<table>
<tr>
<td>UserName: </td>
<td><input type='text' id='uname' name='uname' value=''/></td>
</tr>
<tr>
<td>Password: </td>
<td><input type='password' id='pwd' name='pwd' value=''/></td>
</tr>
<tr>
<td colspan=2>
<input type='button' onclick='login()' class='button button2' value='Login'/>&nbsp;<input type='button' onclick='clearForm()' class='button button2' value='Clear'/>
</td>
</tr>
</table>
</form>
</body>
</html>