<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>/views/login.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextParam1</param-name>
		<param-value>JSPLessonContextDemo</param-value>
	</context-param>
	<servlet>
		<servlet-name>NextPage</servlet-name>
		<jsp-file>/views/nextpage.jsp</jsp-file>
		<init-param>
		<param-name>configParam1</param-name>
		<param-value>Aadvik</param-value>
		</init-param>
		<init-param>
		<param-name>configParam2</param-name>
		<param-value>Muthukumaran</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NextPage</servlet-name>
		<url-pattern>/nextPage</url-pattern>
	</servlet-mapping>
	
</web-app>