<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LocationCrud</display-name>
  <welcome-file-list>
    <welcome-file>/views/login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.LocationCrud.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocServlet</servlet-name>
    <servlet-class>com.LocationCrud.LocServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocDetailServlet</servlet-name>
    <servlet-class>com.LocationCrud.LocDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocCrud</servlet-name>
    <servlet-class>com.LocationCrud.LocCrud</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountryListServlet</servlet-name>
    <servlet-class>com.LocationCrud.CountryListServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.LocationCrud.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginFail</servlet-name>
    <jsp-file>/views/login.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginFail</servlet-name>
    <url-pattern>/loginFail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocServlet</servlet-name>
    <url-pattern>/locServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocDetailServlet</servlet-name>
    <url-pattern>/locDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocCrud</servlet-name>
    <url-pattern>/locCrud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryListServlet</servlet-name>
    <url-pattern>/countryListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
</web-app>